a {
  text-decoration: none;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.App-logo.fallback-wrap {
  pointer-events: none;
  height: 50vh;
}

.Fallback-section {
  height: 100vh;
  width: 100vw;
  display: flex;
  scroll-behavior: smooth;
  justify-content: center;
  align-items: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo.fallback-wrap {
    animation: App-logo-spin infinite 2s linear;
  }
}

.App {
  display: flex;
  flex-direction: column;
  position: relative;
}

.App-header {
  padding-inline: 40px;
  display: flex;
  width: 100vw;
  height: 10vh;
  align-items: center;
}

.profile-header--wrap{
  position: fixed;
  z-index: 1;
}

 .App-logo{
  height: 10vh;
}

.header-links {
  list-style: none;
}

.header-content {
  margin-left: auto;
  font-size: 22px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.main-wrap {
  width: 100%;
  max-height: 100vh;
  padding-inline: 100px;
  position: relative;
}

.mf-wrapper {
  padding-left: 120px;
  padding-top: 140px;
  height: 740px;
}

.content-wpr {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.mf-para.desc {
  margin: 20px 0 0 0;
  width: 40vw;
  text-align: left;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 18px;
  line-height: 3ch;
}

.mf-para.title {
  font-size: 20px;
  font-family: monospace;
}

.mf-headers#name {
  font-size: 130px;
}

.mf-headers#role {
  font-size: 50px;
  font-family: sans-serif;
}

.mf-ct {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 740px;
  margin-top: 50px;
}

.ct-content {
  text-align: center;
  line-height: 30px;
  width: 600px;
}

.mf-ct a {
  padding: 23px 30px;
  border-radius: 8px;
}


.mf-description .tag-line{
  color: #a69db9;
  font-size: 70px;
}

.mf-ct.ic {
  height: 70px;
  width: 125px;
}

.first-ct {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 50px 0 0 0;
  height: 70px;
  width: 150px;
}

.first-ct a {
  display: block;
  border-radius: 8px;
  padding: 20px;
}



.mf-ct h2 {
  font-size: 60px;
}

.footer-fin {
  display: flex;
  padding: 2%;
  justify-content: center;
  font-size: 14px;
}

.social-container-wrap {
  position: fixed;
  left: 0;
  width: 100px;
  height: 789px;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}

.s-logo {
  height: 25px;
  margin: 0px 0px 30px 0px;
}

.vl {
  background-color: #a69db9;
  width: 1px;
  height: 100px;
}

.onscroll-shadow {
  box-shadow: 0 3px 10px #3c3c3c;
  background-color: whitesmoke;
  background-image: linear-gradient(45deg, #6d3ec5, #df1951);
  transition: 3s ease-in 1s;
}

.onscroll-shadow a {
  color: whitesmoke;
}