body {
    background: #0a001d;
}

.mf-ct {
  background: rgb(240, 238, 238);
}

Footer a {
  color: rgb(34, 195, 235);
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: small;
}

Footer a:hover {
  color: rgba(90, 207, 11, 0.979);
  /* border: 0px; */
}

  .mf-ct .f-contact {
    border: 2px solid #c94469;
    color: #c94469;
    background-color: transparent;
  }

  .top-hr {
    height: 4px;
    background-color: #c94469;
    background-image: linear-gradient(45deg, #6d3ec5, #df1951);
  }

  .first-ct .f-contact {
    border: 2px solid #d696f0;
  }

  .f-contact:hover{
    color: #000;
    background-color: #F7DC6F;
    cursor: pointer;
    border: 0px;
  }

  h3 {
    color: white;
    font-size: 40px;
  }

  
  .header-content {
      color: aliceblue;
  }

  .mf-para.title {
    color: #d696f0;
  }

  .mf-para.desc {
    color: #a69db9;
  }

  .mf-headers#name {
    color: #dad3e7;
    /* background-color: #f3ec78; */
      /* background-image: linear-gradient(45deg, #f3ec78, #df1951);
      background-clip: text;
      -webkit-background-clip: text;
      -moz-background-clip: text;
      -webkit-text-fill-color: transparent; 
      -moz-text-fill-color: transparent; */
  }

  .mf-headers#role {
    color: #a69db9;
  }

  .footer-fin {
  color: #d696f0;
}

.mf-wrapper a{
  color: #d696f0;
}

.mf-wrapper span a:hover{
  color: #F7DC6F;
}

.mf-ct h2 {
    background-color: #6d3ec5; 
      background-image: linear-gradient(45deg, #6d3ec5, #df1951);
      background-clip: text;
      -webkit-background-clip: text;
      -moz-background-clip: text;
      -webkit-text-fill-color: transparent; 
      -moz-text-fill-color: transparent; 
}


.ct-content {
    color: #7a708f;
  }

  img.s-logo {
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);   
  }

  img.s-logo:hover {
    -webkit-filter: none;
    filter: none; 
    cursor: pointer;
    transform: translateY(-6px);
  }

  Footer:hover a {
    transform: scale(1.5);
  }

  .header-links {
    position: relative;
  }

  .hover-link:hover ::after{
    width: 100%;
    left: 0;
    background-color: whitesmoke;
    background-image: linear-gradient(45deg, #6d3ec5, #df1951);
  }

  .onscroll-shadow .hover-link:hover ::after{
    width: 100%;
    left: 0;
    background-color: whitesmoke;
    background-image: none;
  }

  .hover-link ::after{
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    position: absolute;
    left: 50%;
    transition: width .3s ease 0s,left .3s ease 0s;
    width: 0%;
    color: #1fdb84;
  }

  .Resume-box {
    color: #F7DC6F;
    line-height: 2.13;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }