* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0;
  scroll-behavior: smooth;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h1 {
  font-size: 130px;
}

h3 {
  font-size: 50px;
}

h2 {
  font-size: 100px;
}

h4 {
  font-size: 35px;
}

h5 {
  font-size: 20px;
}

p {
  font-size: 19px;
}

.links {
  text-decoration: none;
  color: #df1951;
  font-weight: bold;
}

.col-1 {
  width: 8.33%;
}
.col-2 {
  width: 16.66%;
}
.col-3 {
  width: 25%;
}
.col-4 {
  width: 33.33%;
}
.col-5 {
  width: 41.66%;
}
.col-6 {
  width: 50%;
}
.col-7 {
  width: 58.33%;
}
.col-8 {
  width: 66.66%;
}
.col-9 {
  width: 75%;
}
.col-10 {
  width: 83.33%;
}
.col-11 {
  width: 91.66%;
}
.col-12 {
  width: 100%;
}

.sec-btn {
  border: 2px solid #969696;
  display: block;
  padding: 10px;
  border-radius: 8px;
  color: rgb(53, 54, 54);
  font-weight: bolder;
}

.shadow {
  background-color: #161616;
  box-shadow: 1px 0.5px 13px #000;
}

.common-vector {
  height: 80px;
}

header {
  position: fixed;
  width: 100%;
  height: 70px;
  display: flex;
  flex-direction: row;
  align-items: center;
  z-index: 10;
  justify-content: space-between;
}

.nav-list {
  margin: auto 0;
  list-style: none;
  color: whitesmoke;
  display: flex;
  padding-inline-start: 20px;
}
.nav-list li {
  margin-left: 35px;
  font-size: large;
  position: relative;
  font-weight: bolder;
}

header .github-icon > img {
  height: 35px;
  margin-right: 30px;
}

.nav-list li a {
  color: whitesmoke;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
  line-height: 2;
}

.nav-list li ::after {
  content: '';
  background-color: whitesmoke;
  /* width: 0; */
  left: 50%;
  position: absolute;
  height: 2px;
  bottom: 0;
  display: block;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
}

.nav-list li:hover ::after {
  width: 100%;
  left: 0%;
}