* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0;
  scroll-behavior: smooth;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

h1 {
  font-size: 130px;
}

h3 {
  font-size: 70px;
}

h2 {
  font-size: 100px;
}

h4 {
  font-size: 50px;
}

h5 {
  font-size: 50px;
}

p {
  font-size: 19px;
}

.links {
  text-decoration: none;
  color: rgb(14, 207, 14);
}

.sec-btn {
  border: 2px solid #969696;
  display: block;
  padding: 10px;
  border-radius: 8px;
  color: rgb(53, 54, 54);
  font-weight: bolder;
}

.shadow {
  background-color: rgba(53, 53, 53, 0.918);
  box-shadow: 1px 0.5px 13px #000;
}

.common-vector {
  height: 80px;
}

header {
  position: fixed;
  width: 100%;
  height: 70px;
  display: flex;
  flex-direction: row;
  align-items: center;
  z-index: 10;
  justify-content: space-between;
}

.nav-list {
  margin: auto 0;
  list-style: none;
  color: whitesmoke;
  display: flex;
  padding-inline-start: 20px;
}
.nav-list li {
  margin-left: 35px;
  font-size: large;
  position: relative;
  font-weight: bolder;
}


header .github-icon > img{
  height: 35px;
  margin-right: 30px;
}

.nav-list li a {
  color: whitesmoke;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 2;
}

.nav-list li ::after {
  content: "";
  background-color: whitesmoke;
  width: 0;
  left: 50%;
  position: absolute;
  height: 2px;
  bottom: 0;
  display: block;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
}

.nav-list li:hover ::after {
  width: 100%;
  left: 0%;
}

footer {
  width: 100%;
  /* background-color: #33253a; */
  background-color: #3b2e3a;
  color: whitesmoke;
  text-align: center;
  height: 100px;
  display: flex;
  flex-direction: column;
}

.footer-content p {
  margin-top: 70px;
  font-size: small;
}