#name {
  font-size: 240px;
  text-align: center;
  background-image: linear-gradient(145deg, #2ef7dc, #f57373 70%);
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.common-vector.home-arrow {
  height: 80px;
  opacity: 0.5;
  fill: white;
}

.common-vector.home-arrow:hover {
  cursor: pointer;
  opacity: 0.8;
  fill: #76acf3;
}

.home-name {
  width: 100%;
  height: 782px;
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background-color: rgb(19, 19, 19);
}

.main-container {
  position: relative;
  top: 780px;
  background-color: #fff;
}

#punch-line {
  padding: 50px 0;
  /* color: #627597!important; */
  text-align: center;
  width: 100%;
  background-image: linear-gradient(45deg, #6d3ec5, #df1951);
  color: whitesmoke;
}

.home-hero-article {
  margin: 20px auto;
  width: 100%;
  height: 30%;
  padding: 50px 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  line-height: 1.8;
}

.home-hero-article .hero-sectoion-content img {
  height: 110px;
}

.home-hero-article .arrow {
  transform: rotate(270deg);
}

.hero-sectoion-content {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 60%;
  color: #627597;
  padding: 3% 0;
  box-shadow: 0px 2px 8px #627597;
  border-radius: 10px;
}

.hero-sectoion-content:hover {
  box-shadow: 0px 2px 30px #76acf3;
  color: #000000;
}

.home-contact {
  height: max-content;
  width: 100%;
  padding: 30px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
}

.home-contact h3 {
  background-color: #6d3ec5;
  background-image: linear-gradient(45deg, #6d3ec5, #df1951);
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.home-contact p {
  color: #627597;
  text-align: center;
  line-height: 2;
}

.toggle-socials {
  display: flex;
  align-items: center;
  padding-top: 40px;
}

.social-cards {
  padding: 30px 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.social-cards div {
  padding: 20px;
}

.social-cards img {
  height: 80px;
}

.social-cards div:hover {
  background-color: rgb(192, 223, 252);
}

.main-container .tech {
  background-color: #70ddf8;
  width: 100%;
  height: 100vh;
}
