button, a {
  border: 2px solid whitesmoke;
  color: whitesmoke;
  background-color: transparent;
}

a:hover {
  color: black;
  background-color: whitesmoke;
  cursor: pointer;
}

h3 {
  color: white;
  font-size: 40px;
}


a {
  text-decoration: none;
}

.App-logo.fallback-wrap {
  pointer-events: none;
  height: 50vh;
}

.Fallback-section {
  height: 100vh;
  width: 100vw;
  display: flex;
  scroll-behavior: smooth;
  justify-content: center;
  align-items: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 2s linear;
  }
  .App-logo.header-wrap {
    animation: Header-logo-spin infinite 10s alternate-reverse;
  }
}

.App {
  display: flex;
  flex-direction: column;
  position: relative;
  min-height: 100vh;
  min-width: 100vw;
  /* border: 1px solid white; */
}

.App-header {
  padding-inline: 30px;
  display: flex;
  max-width: 100vw;
  height: 100px;
  justify-content: space-between;
  /* border: 1px solid white; */
}

.App-logo.header-wrap{
  height: 80px;
  pointer-events: none;
}

.header-image {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-content {
  display: flex;
  color: #61dafb;
  /* border: 1px solid white; */
}

.header-links {
  display: flex;
  margin-left: auto;
  font-size: 22px;
  list-style: none;
  align-items: center;
}

.header-links li {
margin-right: 10px;
}

.Resume-box {
  border: solid #61dafb 1px;
  border-radius: 10px;
  padding: 10px;
  font-size: 18px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes Header-logo-spin {
  from {
    transform: rotate(0deg);
  } 
  to {
    transform: rotate(360deg);
  }
}

.main-wrap {
  width: 100%;
  max-height: 100vh;
  padding-inline: 100px;
  position: absolute;
  /* border: 1px solid whitesmoke; */
}

.mf-wrapper {
  /* border: 1px solid whitesmoke; */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  min-height: 100vh;
}

.mf-para.title {
  color: bisque;
  font-size: 20px;
  font-family: 'Courier New', Courier, monospace;
  /* border: 2px solid white; */
}

.mf-para.desc {
  color: #c6c7c5;
  margin: 40px 0 0 0;
  width: 40vw;
  text-align: left;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 18px;
  line-height: 1.5;
}

.mf-headers#name{
  color: whitesmoke;
  font-size: 100px;
  background-color: #f3ec78;
    background-image: linear-gradient(45deg, #f3ec78, #9b2849);
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
}


.mf-headers#role{
  color: gainsboro;
  font-size: 40px;
  font-family: sans-serif;
}

.mf-ct {
  /* border: 1px solid white; */
  display: flex;
  justify-content: flex-start;
  margin: 30px 0px 0px 0px;
  max-height: max-content;
}
.mf-ct a {
  padding: 23px 30px;
  border-radius: 8px;
}

.footer-fin 
{
  color: snow;
  font-size: 30px;
}